html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .dashboard {
    flex: 1;
  }
  .main-content {
    flex: 1;
    padding-top: 2px; /* Navbar height */
    padding-bottom: 2px; /* Footer height */
    overflow-y: auto;
  }
  